<form class="form-horizontal" autocomplete="off" #createCountryForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header title="Create New Country" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
      <div class="form-group row required">
        <label class="col-md-3 col-form-label">
          Country Name
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="cName" id="cName" minlength="2" maxlength="64" required
            [(ngModel)]="country.name" #cNameModel="ngModel" #cNameEl />
          <abp-validation-summary [control]="cNameModel" [controlEl]="cNameEl"></abp-validation-summary>
        </div>
      </div>
  
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createCountryForm.form.valid || saving"
      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>